
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

html {
    height: 100%;
    background-color: white;
    max-width: 1440px;
    margin: 0 auto;
}

body {
    background-color: black;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


#root {
    height: 100%;
}

ul {
    list-style-type: none; /* Supprime les puces */
    padding-left: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime la marge par défaut */
}

a {
    text-decoration: none; /* Enlève le soulignement par défaut */
    display: block; /* Permet au lien de prendre tout l'espace du <li> */
}


strong {
    font-weight: 700; /* Enlève le gras par défaut */
    color: rgba(255, 255, 255, 1); 
    font-size: 18px;
    line-height: 25.67px;
}

li , p {
    font-size: 12px;
    font-weight: 500;
    
}

li {
    @media (min-width: 768px) {
        font-size: 24px;
        font-weight: 500;
             
    }

}

p {
    @media (min-width: 768px) {
        font-size: 18px;
        font-weight: 400;
          
    }

}






