// Reset CSS : Un reset ou normalisation CSS pour s'assurer que les styles de base sont cohérents sur tous les navigateurs.
// Styles généraux du body : Couleurs de fond, marges, paddings globaux, typographie par défaut.
// Styles globaux : Définition de styles pour les éléments HTML comme les titres (h1, h2, h3), les paragraphes, les listes, etc.
// Typographie de base : Définition des polices et des tailles globales pour les textes.
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none; /* Supprime les puces */
    padding-left: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime la marge par défaut */
}

a {
    text-decoration: none; /* Enlève le soulignement par défaut */
    display: block; /* Permet au lien de prendre tout l'espace du <li> */
}


// h2 { // oups et titre fichelogement

// }

// h3 { // liens nav et apropos
    
// }

// h4 { // titres cards et collapses
    
// }

strong {
    font-weight: 700; /* Enlève le gras par défaut */
    color: rgba(255, 255, 255, 1); /* Inhère la couleur du parent */
    font-size: 18px;
    line-height: 25.67px;
}

li , p {
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
}




// src/styles/base.scss

// // Reset ou Normalize

  
//   // Styles de base pour le corps du document
//   body {
//     font-family: 'Arial, sans-serif';
//     background-color: #f5f5f5;
//     color: #333;
//     line-height: 1.6;
//   }
  
//   // Typographie de base
//   h1, h2, h3, h4, h5, h6 {
//     font-weight: 600;
//     margin-bottom: 1rem;
//   }
  
//   p {
//     margin-bottom: 1rem;
//   }
  
//   a {
//     color: #3498db;
//     text-decoration: none;
//   }
  