.card {
    position: relative;
    border-radius: 10px;
    width: 335px;
    height: 255px;
    @media (min-width: 768px) {
        height: 340px;
        width: 340px;
    }

        &__cover {
            object-fit: cover;
            width: 100%;
            height: inherit; 
            border-radius: 10px;
            
        }

        &__title {
            position: absolute;
            left: 0px;
            bottom: 0px;
            margin-left: 19.7px;
            margin-bottom: 20px;
                      
        }

}
.card:hover {
    cursor: pointer;
}