@import '../styles/mixins';

.apropos-page {
    // height: 310px;
    // margin: 19px 19.5px; 

        &__container {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            margin: 20px auto;
        }
}
