@import '../styles/mixins';

.home-page {
    // height: 140.56vh; // 938px
    // width: 100%;
    margin: 27px 20px;  // 27px auto 

        &__gallery {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            // height: 120.63vh; // 805 px
            margin: 22px auto 27px;

            // overflow-y: scroll;
        }
}
