@import '../../styles/variables'; // Probleme de module ; ne trouve pas la stylesheet.
@import '../../styles/mixins';

.collapse {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.426;
    @media (min-width: 768px) {
        width: 46.935vw;
    }

        &__container {
            @include flex-between;
            border-radius: 5px;
            background-color: $salmon-background;
            color: white;
            height: 30px; 
            @media (min-width: 768px) {
                height: 52px;
            }
        }

            &__title {        
                padding: 10px 0px 10px 10px;                    
                font-size: 13px;
                // line-height: 30px;                           
                @media (min-width: 768px) {
                    font-size: 18px;
                    // line-height: 52px;
            }
        }
            &__btn {
                @include flex-left;
                // width: 9.515%;
                min-width: 32px;
                border: inherit;
                background-color: inherit;
                color: inherit;
                @media (min-width: 768px) {
                    width: 42px;
                }
                
            }

        &__content {
            background-color: $grey-background;
            font-size: 12px;
            padding: 13px 20px 19px;

            &.isClosed {
                height: 0px;
                overflow: hidden;
                transition: height 0.3s ease;
                padding: 0px;
            }

            &.isOpen {
                height: auto;              
            }
            
        }  
}

.fa-angle-down, .fa-angle-up {
    font-size: 1.57em;
    transform: scaleX(1.02);
    @media (min-width: 768px) {
        font-size: 2.35em;
    }
}

