@import '../../styles/variables'; // Probleme de module ; ne trouve pas la stylesheet.
@import '../../styles/mixins';

.collapse {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.426;

        &__container {
            @include flex-between;
            border-radius: 5px;
            background-color: $salmon-background;
            color: white;
        }

            &__title {
                font-size: 13px;
                padding: 10px 0px 10px 10px;
            }
            &__btn {
                @include flex-left;
                width: 9.515%;
                min-width: 32px;
                border: inherit;
                background-color: inherit;
                color: inherit;
            }

        &__content {
            background-color: $grey-background;
            font-size: 12px;
            padding: 13px 20px 19px;

            &.isClosed {
                height: 0px;
                overflow: hidden;
                transition: height 0.3s ease;
                padding: 0px;
            }

            &.isOpen {
                height: auto;              
            }
            
        }  
}

.fa-angle-down, .fa-angle-up {
    font-size: 1.57em;
    transform: scaleX(1.02);
}

