@import '../../styles/mixins';

.navbar {
    @include flex-between;
    width: 100%;
    height: 7vh;
    padding: 0px 20px;
    padding-top: 20px;

        &__link {
            @include flex-right;
            row-gap: 26px;
            
        }

            a {
                margin-left: 26px;
                color: black;
            }
}


// Layout / header ->
// width: 1240px;
// height: 68px;

// margintop 45 /40
// marginbot 50 / 0
// margin left/right 100px desktop

// nav / ->
// width: Hug (309px)px;
// height: Hug (34px)px;
// top: 17px;
// left: 931px;
// gap: 57px;
// opacity: 0px;


// typo ->
// font-family: Montserrat;
// font-size: 24px;
// font-weight: 500;
// line-height: 34.22px;
// text-align: right;


// Logo / ->
// width: 210.32px;
// height: 68px;
// background: #FF6060;
