@import '../../styles/mixins';

.footer {
    width: 100vw;
    min-width: 375px;
    margin-top: 27px;
    transform: translateX(-5.333%); //20px mobile
    @media (min-width: 768px) { 
        transform: translateX(-6.944%); // 100px desktop
        max-width: 1440px;

    }

        &__container {
            @include column-center;
            background-color: black;
            height: 209px;
        }    

        &__txt {
            color: white;
            width: 133.59px;
            text-align: center;
            @media (min-width: 768px) { 
                width: 100%;
                margin-top: 28.56px;
            }
    }
}
